nav{
    display: flex;
    background-color: rgba(47, 0, 255, 0.103);
    padding: 25px;
}


ul{
    justify-content: space-around;
    list-style: none;
    padding: 10px;
    margin-right: 50px;
   }

hr{
    margin: 0px;
    color: rgb(183, 0, 255);
}