@import "tailwindcss";

/* En Header.css */
body {
    margin-top: 100px; /* Ajusta el valor según la altura de tu Header */
  }
  
  /* O si Main está dentro de un contenedor específico, por ejemplo */
  .main-container {
    margin-top: 100px; /* Ajusta el valor según la altura de tu Header */
  }
  

